#js-folder-pictures-order-id th:first-child {
    width: 15px;
}

#js-folder-pictures-order-id .sort-id {
    width: 135px;
}

#js-folder-pictures-order-id .sort-title {
    
}

#js-folder-pictures-order-id .sort-date {
    width: 120px;
}

#js-folder-pictures-order-id .sort-views {
    width: 130px;
}

#js-folder-pictures-order-id .sort-sales {
    width: 100px;
}