/* fix negative padding hack */
.row.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; }

.sidebarRight{
	height: 100%;
	padding-bottom: 0;
	margin-bottom: 0; }

/* eof fix negative padding hack */
.card{
	padding-bottom: 80px;
}

.card-image::after{
	content: '';
	display: table;
	clear: both; }

.card-image__container{
	width: auto;
	max-width: 100%;
}


@media screen and (min-width: 481px) {
	.card-image__container {
		display: inline-block;
	}
}
.card-image__container img{
	display: block;
	width: 100%;
}

.card-image__buttons{
	margin-top: 12px;
	font-size: 0;
	text-align: right; }

.card-image__button{
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	background-image: url(../images/sprite2.png);
	background-repeat: no-repeat; }

.card-image__button + .card-image__button{
	margin-left: 2px; }

.card-image__button--copyright{
	background-position: 0 0; }

.card-image__button--add{
	background-position: -20px 0; }

.card-image__button--cart{
	background-position: -40px 0; }

.card-description + .card-description{
	margin-top: 30px; }

.card-description__title{
	color: #00c3d9;
	margin-bottom: 7px; }
.card-description__text {
	margin-bottom: 32px;
}
.card-description__text--big{
	color: black;
	font-size: 31px;
	line-height: 39px;
	font-family: 'Ristretto Pro', Georgia, 'Times New Roman', Times, serif;
	font-weight: 300; }

.card-meta__key{
	font-weight: bold; }

.card-left{
	padding-bottom: 80px; }

.card-right{
	float: right;
	padding-bottom: 80px; }

@media (max-width: 767px){
	.card-right{
		float: none;
		padding-bottom: 10px; }
}

.card h1{
	font-family: 'Ristretto Pro', Georgia, 'Times New Roman', Times, serif;
	font-size: 34px;
	line-height: 36px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 14px;
	text-align: left;
}

.card .card-meta{
	color: black; }

.card-right__add-to-cart{
	margin: 32px 0 35px;
}
.card-right__add-to-cart .btn {
	margin: 5px 0;
}

.lightboxes__item{
	margin-bottom: 5px; }

.lightboxes__item-title{
	position: relative;
	border-radius: 11px;
	height: 22px;
	line-height: 22px;
	padding: 0 25px 0 11px;
	font-size: 14px;
	color: white;
	background-color: black;
	cursor: pointer; }

.lightboxes__item-title::after{
	content: '';
	position: absolute;
	top: 0;
	right: 3px;
	width: 20px;
	height: 100%;
	background: url(../images/sprite.png) -35px -3px; }

.lightboxes__item-title.is-expanded::after{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg); }


.lightboxes__item-title--new::after{
	content: '+';
	background: none;
	right: 9px;
	width: auto;
	font-size: 16px;
	line-height: 23px;
	-webkit-transform: none !important;
	transform: none !important;
}

.lightboxes__item-content{
	margin-top: -11px;
	border-radius: 0 0 8px 8px;
	padding: 22px 9px 11px;
	background-color: #f2f2f2; }
.lightboxes__item-pictures-row:after {
	display: table;
	content: ' ';
	clear: both;
}
.lightboxes__item-pictures-col {
	width: 33%;
	padding: 0 4px;
	float: left;
}
.lightboxes__item-pictures{
	margin-bottom: 2px; }

.lightboxes__item-pictures a{
	display: block;
	margin-bottom: 9px; }

.lightboxes__item-pictures a::before{
	content: '';
	padding-top: 100%;
	float: left; }

.lightboxes__item-pictures a img{
	display: block;
	width: 100%;
	height: 100%; }

.lightboxes__item-bottom{
	font-size: 11px;
	line-height: 1; }

.lightboxes__item-bottom-count{
	color: #00c3d9; }

.lightboxes__item-bottom-link{
	text-align: right; }

.lightboxes__item-bottom-link a{
	color: #4d4d4d;
	text-transform: uppercase;
	text-decoration: none; }

.lightboxes__item-new{
	display: block;
	text-align: center;
	padding: 15px 20px;
	font-weight: 300; }
