.errorPage {
  text-align: center;
}
.errorPageTitle {
  font: 300 19px/normal 'Ristretto Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 49px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  margin: 20px 0 25px;
}
.errorPageTitle-sub {
  font-size: 21px;
  color: #909090;
  text-transform: uppercase;
  font-weight: 300;
}
.errorPageContainer {
  position: relative;
}
.errorPageQuery {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.errorPageQuery p {
  margin: 0 0 5px;
}
.errorPageQuery b {
  font-weight: 700;
}
.errorPageSearch {
  display: block;
  width: 49px;
  height: 48px;
  background: url(../images/errorPageSearch.png);
  text-decoration: none !important;
  margin: 30px auto 15px;
}
.errorPageMessage {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
.errorPageMessage a {
  color: #00c3d9;
}
.errorPageMessage a:hover {
  color: #14aec5;
}
label.uploadBlock-title {
  cursor: pointer;
}
.form textarea {
  width: 100%;
  resize: vertical;
  height: 65px;
  padding: 5px 8px 5px 8px;
  border: 0;
  font: 400 15px/20px 'Circe', Arial, helvetika, sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: none !important;
}
.uploadRowTitle {
  background: #000;
  text-align: center;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 18px;
}
.uploadBlock {
  margin-bottom: 20px;
}
.uploadBlock-title {
  display: block;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 5px;
}
.uploadBlock-title .jq-radio {
  margin-right: 12px;
}
.uploadBlock-title_bold {
  font: 300 19px/normal 'Ristretto Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 10px;
}
.uploadBlock-title_small {
  font-size: 14px;
  font-weight: 300;
  color: #909090;
  text-transform: uppercase;
}
.uploadBlock-description textarea {
  width: 100%;
  resize: vertical;
  height: 125px;
  padding: 5px 8px 5px 8px;
  border: 0;
  font: 400 15px/20px 'Circe', Arial, helvetika, sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: none !important;
}
.uploadForm label {
  cursor: pointer;
}
.uploadForm.form input[type=text].upload_collection {
  font: 400 15px/20px 'Circe', Arial, helvetika, sans-serif;
  font-size: 13px;
  font-weight: 300;
  padding: 1px 8px 0 8px;
  border-radius: 10px;
  outline: none !important;
}
.uploadForm.form .jq-selectbox {
  width: 100%;
}
.uploadForm.form .inline-label {
  margin-left: 5px;
}
.uploadForm.form .inline-label .jq-radio {
  margin-right: 3px;
}
.uploadForm.form .inline-label:first-child {
  margin-left: 20px;
}
.upload-double {
  position: relative;
}
.upload-double input[type=text] {
  padding-right: 75px !important;
}
.upload-double .jq-selectbox {
  width: 56px !important;
  position: absolute !important;
  right: 10px;
  top: 6px;
}
.form.uploadForm input[type=text] {
  font: 400 15px/20px 'Circe', Arial, helvetika, sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 6px 8px 6px 8px;
}
.uploadPeriod-divider {
  padding: 33px 0 0;
  display: block;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
.ddup li {
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  min-height: 18px;
  margin-bottom: 0 !important;
  padding-bottom: 5px;
}
.ddup label {
  min-height: 22px;
}
.ddup li ul li {
  font-weight: 300;
}
.ddup li ul li ul {
  padding-top: 5px;
}
.ddup li ul li ul li:last-child {
  padding-bottom: 0;
}
.ddup li ul {
  margin-left: 22px;
}
.ddparent {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}
.ddparent.active:before {
  background: url(../images/dd_open.png) 50% 0;
}
.ddparent:before {
  display: block;
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  width: 7px;
  height: 7px;
  background: url(../images/dd_open.png) 50% -12px;
}
.ddparent + ul {
  display: none;
}
.ddparent .ddparent {
  font-weight: 400;
}
.uploadBlock-size input[type=text] {
  width: 48% !important;
  margin: 0 !important;
  float: left;
}
.uploadBlock-size input[type=text] + input[type=text] {
  margin-left: 4% !important;
}
.uploadColor label,
.uploadCopy label {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}
input[type=submit].btn.btn-upload {
  width: 170px;
  height: 32px;
  margin: 30px auto 0;
  background: #000;
  border: 0;
  color: #fff !important;
}
input[type=submit].btn.btn-upload:hover {
  background: #333;
}
input[type=submit].btn.btn-upload:active {
  background: #000;
}
.uploadKeywords textarea {
  height: 125px;
}
.uploadError {
  margin-bottom: 25px;
  color: #909090;
  line-height: 32px;
  background: url(../images/uploadError.png) 6px 50% no-repeat #ffffff;
  position: relative;
  padding: 0 40px 0 50px;
}
.uploadError-close {
  display: block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 13px;
  background: url(../images/uploadError-close.png) 50% 50% no-repeat;
}
.text-center {
  text-align: center;
}
/*# sourceMappingURL=new.css.map */